body {
    background: #0f172a;
    color: #e5e7eb;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}
video {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 0 20px #000;
}
button {
    padding: 10px 16px;
    margin: 5px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
pre {
    text-align: left;
    max-width: 500px;
    margin: auto;
    background: #020617;
    padding: 10px;
}