body{
  background:#000;
  margin:0;
  padding:15px;
  font-family:-apple-system,system-ui;
  color:#fff;
}

.video-box{
  max-width:500px;
  margin:auto;
  aspect-ratio:4/3;
  border-radius:12px;
  overflow:hidden;
  position:relative;
  background:#111;
}

video{width:100%;height:100%;object-fit:cover}

#alarm-flash{
  position:absolute;inset:0;
  background:rgba(255,69,58,.45);
  display:none;
  z-index:10;
}

.controls{
  max-width:500px;
  margin:15px auto;
  background:#1c1c1e;
  padding:15px;
  border-radius:16px;
}

.graph{
  position:relative;
  height:45px;
  background:#2c2c2e;
  border-radius:8px;
  overflow:hidden;
}

.motion-bar{
  height:100%;
  width:0%;
  background:#32d74b;
  z-index:1;
}

.threshold-line{
  position:absolute;
  top:0;bottom:0;
  width:4px;
  background:#ff453a;
  left:40%;
  transform:translateX(-50%);
  z-index:5;
  box-shadow:0 0 5px red;
}

.stats{
  display:flex;
  justify-content:space-between;
  margin:8px 0;
  font-weight:700;
}

.red{color:#ff453a}
.green{color:#32d74b}

input{width:100%}

.buttons{
  margin-top:10px;
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

button{
  padding:14px;
  border:none;
  border-radius:12px;
  background:#3a3a3c;
  color:#fff;
  font-size:15px;
}

#btn-siren.active{
  background:#ff453a;
  animation:pulse 1s infinite;
}

@keyframes pulse{
  0%{opacity:1}
  50%{opacity:.8}
  100%{opacity:1}
}

canvas{display:none}
